
<div class="ribbon">
  <div class="ribbon-tabs" role="tablist">
    <button class="ribbon-tab is-active" data-tab="home">Home</button>
    <button class="ribbon-tab" data-tab="insert">Insert</button>
    <button class="ribbon-tab" data-tab="design">Design</button>
    <button class="ribbon-tab" data-tab="draw">Draw</button>
    <button class="ribbon-tab" data-tab="layout">Layout</button>
    <button class="ribbon-tab" data-tab="view">View</button>
    <button class="ribbon-tab" data-tab="help">Help</button>
  </div>
  <div id="ribbon-panels" class="ribbon-panels"></div>
</div>
