<div class="status-bar">
  <div class="status-left">
    <button class="status-item" id="page-counter">Page 1 of 1</button>
    <button class="status-item" id="word-counter">0 words</button>
    <button class="status-item">English (US)</button>
  </div>
  <div class="status-right">
    <div class="zoom-slider">
      <button class="status-item">-</button>
      <input type="range" min="10" max="500" value="100" class="zoom-range" />
      <button class="status-item">+</button>
      <button class="status-item">100%</button>
    </div>
  </div>
</div>