<header class="app-header">
  <div class="header-left">
    <div class="app-brand">Word Clone</div>

    <div class="file-menu-wrap">
      <button class="file-menu-btn" type="button" aria-haspopup="true" aria-expanded="false">
        File
      </button>

      <div class="file-menu-dropdown" hidden>
        <button class="file-menu-item" type="button" data-action="new-doc">New Document</button>
        <button class="file-menu-item" type="button" data-action="open-doc">Open Document</button>
        <button class="file-menu-item" type="button" data-action="save-doc">Save</button>
      </div>
    </div>
  </div>
  </div>

  <div class="header-right">
    <button id="min-btn" class="win-btn" type="button" aria-label="Minimize">
      <img class="win-icon" src="./icons/fluent--subtract-24-regular.svg" alt="" />
    </button>
    <button id="max-btn" class="win-btn" type="button" aria-label="Maximize">
      <img class="win-icon" src="./icons/square_24_regular.svg" alt="" />
    </button>
    <button id="close-btn" class="win-btn win-btn-close" type="button" aria-label="Close">
      <img class="win-icon" src="./icons/fluent--dismiss-24-regular.svg" alt="" />
    </button>
  </div>
</header>